.technique_container{
  width: 100%;
  padding: 50px 5%;
  justify-content: center;
  .technique{

    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 858px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    @media (max-width: 1440px) {
      margin: 50px 5%;
    }
    .title{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 50px;
      margin-left: 25px;
      @media (max-width: 858px) {
        margin-left: 0;
      }
      h1{
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 20px;
        color: #CB473C;
        @media (max-width: 320px) {
          font-size: 20px;
        }
      }
      p{
        max-width: 90%;
        
      }
    }
    .image{
      img{
        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: right;
        border-radius: 15px;
        @media (max-width: 1024px) {
          width: 350px;
        }
        @media (max-width: 375px) {
          width: 250px;
          height: 350px;
          object-fit: cover;
        }
      }
    }
  }
}
.imgParent{
  display: flex;
  gap: 2vmin;
  flex-wrap: wrap;
  >div{
    width: 30%;
    min-width: 150px;
    height: 35vmin;
    overflow: hidden;
    border-radius: 15px;

    >img{
      width: 100%;
      height: 100%;
       object-fit: cover;
       transition: 3s all;
       &:hover{
        transform: scale(1.5);
       }
     }
  }
 
}