.sidebar{
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  transition: .3s;
  .close{
    position: absolute;
    top: 15px;
    right: 15px;
    li{
      list-style: none;
      font-size: 25px;
    }
  }
  .list{
    padding: 5%;
    margin-top: 80px;
    li{
      list-style: none;
      &:hover{
        background: #ccc;
      }
      padding: 20px;
      border-bottom: 1px solid #ccc;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  a{
    display: block;
    button{
      width: 90%;
      height: 56px;
      color: white;
      background: #CB473C;
      border: 0;
      font-size: 16px;
      border: 2px solid #CB473C;
      transition: .2s;
      margin: 0 5%;
      cursor: pointer;
      &:hover{
        background: white;
        color: #CB473C;
      }
    }
  }
}


.sidebar_none{
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  right: -100%;
  top: 0;
  transition: .3s;
  .close{
    position: absolute;
    top: 15px;
    right: 15px;
    li{
      list-style: none;
      font-size: 25px;
    }
  }
  .list{
    padding: 5%;
    margin-top: 80px;
    li{
      list-style: none;
      padding: 20px;
      border-bottom: 1px solid #ccc;
      &:hover{
        background: #ccc;
      }
    }
  }
  a{
    button{
      width: 90%;
      height: 56px;
      color: white;
      background: #CB473C;
      border: 0;
      font-size: 16px;
      border: 2px solid #CB473C;
      transition: .2s;
      margin: 0 5%;
      cursor: pointer;
      &:hover{
        background: white;
        color: #CB473C;
      }
    }
  }
}